# Tf-Idf example

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

# using default tokenizer in TfidfVectorizer
#min_df - minimum document frequency
tfidf = TfidfVectorizer(min_df=2, max_df=0.5, ngram_range=(1, 2))

In [7]:
texts = [
    "good movie", "not a good movie", "did not like", 
    "i like it", "good one", "bad one", "waste of money", "worth my money"
]

features = tfidf.fit_transform(texts)
pd.DataFrame(
    features.todense(),
    columns=tfidf.get_feature_names()
)

       good  good movie      like  money     movie       not       one
0  0.520868    0.603613  0.000000    0.0  0.603613  0.000000  0.000000
1  0.445928    0.516768  0.000000    0.0  0.516768  0.516768  0.000000
2  0.000000    0.000000  0.707107    0.0  0.000000  0.707107  0.000000
3  0.000000    0.000000  1.000000    0.0  0.000000  0.000000  0.000000
4  0.653308    0.000000  0.000000    0.0  0.000000  0.000000  0.757092
5  0.000000    0.000000  0.000000    0.0  0.000000  0.000000  1.000000
6  0.000000    0.000000  0.000000    1.0  0.000000  0.000000  0.000000
7  0.000000    0.000000  0.000000    1.0  0.000000  0.000000  0.000000

In [8]:
texts = [
    "good movie", "not a good movie", "did not like", 
    "i like it", "good one", "bad one", "waste of money", "worth my money", "waste of time"
]

features = tfidf.fit_transform(texts)
pd.DataFrame(
    features.todense(),
    columns=tfidf.get_feature_names()
)

       good  good movie      like  money  ...       of       one    waste  waste of
0  0.523742    0.602368  0.000000    0.0  ...  0.00000  0.000000  0.00000   0.00000
1  0.448635    0.515987  0.000000    0.0  ...  0.00000  0.000000  0.00000   0.00000
2  0.000000    0.000000  0.707107    0.0  ...  0.00000  0.000000  0.00000   0.00000
3  0.000000    0.000000  1.000000    0.0  ...  0.00000  0.000000  0.00000   0.00000
4  0.656138    0.000000  0.000000    0.0  ...  0.00000  0.754641  0.00000   0.00000
5  0.000000    0.000000  0.000000    0.0  ...  0.00000  1.000000  0.00000   0.00000
6  0.000000    0.000000  0.000000    0.5  ...  0.50000  0.000000  0.50000   0.50000
7  0.000000    0.000000  0.000000    1.0  ...  0.00000  0.000000  0.00000   0.00000
8  0.000000    0.000000  0.000000    0.0  ...  0.57735  0.000000  0.57735   0.57735

[9 rows x 10 columns]

#Observe how adding "waste of time", brings in the waste of "waste of money" in picture, which was being ignored previously.